

fieldset
{
	display: inline;
	vertical-align: top;
}

.block
{
	margin: 32px;
}

#ScreenField
{
	border: 1px solid black;
	border-collapse: collapse;
	background-color: #808080;
}

.FieldCell
{
	width: 6px;
	height: 6px;
	border: 1px solid black;
	cursor: pointer;
}

.FieldCellActive
{
	background-color: red;
}



.ControlTools
{
	/*width: 32px;*/
	height: 32px;
}



#ControlLastColors > * {
  height: 32px;
  width: 32px;
}

.ControlRange
{
	margin: 0px 3px;
	
}

.ControlRange[type=range]
{
	width: 200px;
}

.ControlRange[type=number]
{
	width: 56px;
}










.MyGUIIcon
{
	/*background: center no-repeat url('images/pencil.png');*/
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 3px 0px;
	padding: 3px;
	border: 1px solid black;
	border-radius: 6px;
	box-shadow: 2px 2px 6px black;
}

.MyGUIIcon:hover
{
	box-shadow: 1px 1px 1px black;
}

.MyGUIIcon.Active
{
	box-shadow: inset 0px 0px 2px black;
}




input:invalid {
  color:red;
}






.ControlElement
{
	display: block;
	margin: 6px 0px;
	padding: 0px 6px;
	width: 275px;
}

.ControlElement > input[type=range]
{
	width: 100%;
	height: 24px;
}

.ControlElement > select, input[type=input], input[type=button]
{
	margin: 6px 0px;
	height: 32px;
}
